.allGoals_main{
    margin: 100px 20px;
}
@media(min-width:1500px){
    .allGoals_main{
        margin: 100px auto;
        max-width: 1200px;

    }
}

.goalsCard_container{
    display: flex;
    justify-content: space-evenly;
}

.submitCard_container{
    width: 100%;
}
.submitCard{
    width: 400px;
}
.submitCard img{
    width: 100%;
}

/* mobile view header  */
/* some css in mygoal folder's  */
/* .mobViewHeadMain{
    position: relative !important;
    z-index: 9999 !important;
} */
.mobViewHead{
    border-radius: 90% / 0 0 25% 25%;
    padding-bottom: 80px !important;
}
.dtMobViewHead{
    height: 240px;
}
.mobVwHead h2{
    letter-spacing: inherit !important;
    font-weight: normal;
    font-style: normal !important;
    font-size: 1.1rem;
}
.mobHeadBack{
    position: absolute;
    left: 5px;
    top: -5px;
}
.mobHeadBack_link{
    color: white;
    box-shadow: 0px 0px 6px gainsboro;
    padding: 8px;
    padding-left: 15px;
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: none;
}

.searchBar_goals{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 6px 10px;
    margin-top: 30px;
    border-radius: 5px;
}
.searchBar_goals>input{
    background: transparent;
    border: none;
    outline: none;
    padding: 5px;
    width: 94%;
}

.breadCrumbs_link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.breadCrumbs p{
    font-size: 1.2rem;
    color: white;
}
.white_link{
    text-decoration: none;
    color: white;
}

/* all goals  */

.allGoals_Cards{
    margin-top: 30px;
}
.allGoals_cLinks{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.b_link{
    color: gray;
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 5px 10px;
}
.sGoal_md{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px 15px;
}

.goalsImg{
    width: 200px;
    margin: 15px 10px;
    transition: 1s;
}
.goalsImg:hover{
    cursor: pointer;
    opacity: .5;

}
.goalsImg img{
    box-shadow: 3px 6px 10px rgb(192, 192, 192);
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}


/* detail page  */

.userGoalDetail_content{
    width: 900px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 0px 5px rgba(129, 129, 129, 0.89);
    /* justify-content: ; */
    align-items: flex-start;
    margin: 0px auto;
    margin-top: 50px;
    /* margin-left: 50px; */
    position: relative;
    margin-bottom: 90px;
    
}
.detailHead{
    padding: 20px;
    background: linear-gradient(to left,var(--light_orange) , var(--light_orange),rgb(255, 136, 0));
   text-align: center;
   color: white;
   /* border-top-left-radius: 10px; */
   border-top-right-radius: 10px;
}
.detailHead h4{
    font-size: 1.3rem;
    font-weight: normal;
}
.detailHead p{
    font-size: .8rem;
    margin-top: 2px;
}
.detailBody{
    padding: 20px;
}
.detailBody p{
    font-size: .8rem;
    color: gray;
    text-align: center;
}
.decs{
    margin-top: 20px;
    text-align: center;
}
.verifyMethod{
    margin-top: 30px;
    text-align: center;
}
.verifyImg img{
    width: 70px;
    margin: 10px;
    height: 70px;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 50%;
}
.investRange{
    margin-top: 20px;
}
.investInp .inp{
    width: 100%;
    background-color: rgb(231, 231, 231);
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}
.verifyMethod h4{
    color: orange;
}

.back_link{
    text-align: start !important;
    position: absolute;
    top: 5px;
}
/* .userGoalDetail_content img{
    width: 100%;
} */

.detailLeftContent{
    width: 400px;
    text-align: center;
    /* margin-top: 20px; */
}

.detailRight_content{
    margin-left: 50px;
    width: 50%;
    /* max-width: 500px; */
}

.detailGoal_ul{
    list-style: none;
}
.detailGoal_ul>li{
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-weight: 600;
}
.mob_desc_dp{
    flex-direction: column;
    align-items: flex-start !important;
}
.mob_desc_dp p{
    margin-top: 5px;
}
.detailGoal_ul>li>p:first-child{
    width: 150px;
}

.db_red_head{
    color: orange;
    font-size: 1.3rem;
    width: 150px;
}

.start_goal_btn{
    background-color: orangered;
    color: white;
    border: none;
    outline: none;
    padding: 10px ;
    min-width: 150px;
    border-radius: 25px;
    margin-top: 10px;
    /* text-align: center; */
}
.start_goal_btn:hover{
    cursor: pointer;
    opacity: .7;
}

.dialog_btn_main{
     width: fit-content;
     margin: 20px auto;
}
.detailRight_content .start_goal_btn{
    display: none;
}
.desktopViewDimg{
    width: 300px;
    margin-top: 40px;
}
.sCategoryHead{
    text-transform: uppercase;
}


@media (max-width:1000px){
    .userGoalDetail_container{
        width: 100%;
    }
    .userGoalDetail_content{
        width: 90%;
        margin: 30px auto;
    }
}
@media (max-width:800px){
    .userGoalDetail_content{
        /* width: 100%; */
        /* flex-wrap: wrap; */
        flex-direction: column;
        align-items: center;
    }
    .detailLeftContent{
        width: 100%;
    }
    .detailRight_content{
        width: 100%;
        margin-left: 0px;
    }
    .detailHead{
   border-top-left-radius: 10px;

    }
   .detailLeftContent .start_goal_btn,.desktopViewDimg{
        display: none;
    }
    /* .goalMob_btn{
        text-align: center;
    } */
    .detailRight_content .start_goal_btn{
        display: block;
        margin: 30px auto;
        /* text-align: center; */
    }
    .mob_desc_dp{
        flex-direction: column !important;
        align-items: flex-start !important;
    }
    .goal_name_dp,.goal_diff_dp{
        border-bottom: 1px solid orange;
        padding-bottom: 20px;
    }
    .userGoalDetail_content{
        border: none;
        margin-bottom: 100px;
    }
    /* .detail_list{
        border-bottom: 1px solid gainsboro;
        padding-bottom: 15px;
    } */
}

@media(max-width:600px){
    .b_link{
        border: none;
    }
    .detailLeftContent,.myListHead{
        display: none;
    }
    .allGoals_Cards{
        margin-top: -65px;
    }
    /* .cUserGoals{
        margin-top: -100px;
    } */
    .userGoalDetail_content{
        margin-top: -150px;
        background-color: white;
    }
    .detailRight_content{
        width: 100%;
        /* max-width: 500px; */
    }
    .allGoals_main{
        margin: 50px 0px;
    }
    .sGoal_md{
        display: grid;
        row-gap: 10px;
        column-gap: 10px;
     grid-template-columns: repeat(3, minmax(60px, 1fr));
        padding: 0px 20px;
        margin: 0px;
    }
    /* .sGoal_md{
        padding-top: 0px;
        padding: 0px 5px;
        margin-top: 0px;
    } */
    .goalsImg{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .goalsImg img{
        height: 90px;
        width: 100%;
        
    }
    .b_link{
        color: gray;
    }
    
    .allGoals_cLinks{
        padding: 0px 10px;
        margin-top: 15px;
    }
}
@media(max-width:400px){
    /* .goalsImg{
        width: 120px;
    }
    .goalsImg img{
        height: 90px;
    } */
}


@media(max-width:310px){
    /* .goalsImg{
        width: 100px;
    }
    .goalsImg img{
        height: 90px;
    } */
}
